html {
  padding: 0;
  color: rgb(50, 50, 50);
  background-color: rgb(218, 218, 218);
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

body {
  box-sizing: border-box;
  width: 8.8in;
  min-width: 400px;
  padding: .5in 1in;
  margin: auto;
  box-shadow: 0 0 15px gray;
  border-left: 1px solid rgb(160, 160, 160);
  border-right: 1px solid rgb(160, 160, 160);
  text-align: center;
  background-color: #fff;
}

header, #summary {
  margin-bottom: 40px;
}

#summary {
  text-align: left;
}

.indented-list {
  margin-left: 20px;
  margin-bottom: 5px;
}

em {
  /* font-weight: 600; */
  font-style: italic;
}

h1 {
  font-size: 60px;
  font-family: Arial, sans-serif;
}

h3 {
  font-weight: bold;
  margin-right: 10px;
  text-align: left;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  font: inherit;
  font-weight: normal;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

iframe {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

a:hover {
  text-decoration: underline;
  color: black;
}

dt {
  font-family: Arial, sans-serif;
  text-align: right;
  position: relative;
  right: 6.85in;
  bottom: 10px;
}

dd {
  position: relative;
  bottom: 26px;
}

ul {
  text-align: left;
  list-style: disc;
  position: relative;
  left: 16px;
}

ul, .row, #education .content {
  margin-bottom: 5px;
}


.container {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row-left {
  display:flex;
  justify-content: left;
}

.row-left a {
  padding: 0 5px;
  font-weight: normal;
}

#skills .row {
  justify-content: left;
}

.content {
  text-align: left;
}

.job-role, .project-section {
  text-decoration: underline;
  text-align: left;
}

#github-icon, #heroku-icon, #drive-icon {
  position: relative;
  top: 2px;
  padding: 0 3px;
  height: 30px;
}

#heroku-icon {
  height: 20px;
}

#down-arrow-icon {
  height: 15px;
  position: relative;
  top: 2px;
}

#drive-icon {
  height: 20px;
}

#projects dd {
  position: relative;
  top: -42px;
}

#designs dd {
  position: relative;
  top: -32px;
}

@media screen and (max-width: 850px) {
  body {
    width: 100%;
    padding: 25px;
    border: none;
    box-shadow: none;
  }

  dt {
    position: static;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }

  dd {
    position: static;
  }
}

@media screen and (max-width: 475px) {
  .spacer {
    display: none;
  }

  #phone, #email, #github {
    display: block;
  }

  #phone {
    margin-top: 25px;
    margin-bottom: 7px;
  }

  #projects dd {
    position: static;
  }
  
  #designs dd {
    position: static;
  }
}

@media print {
  body {
    box-shadow: none;
    border: none;
    width: 8.5in;
    padding: .5in .9in;
  }

  dt {
    right: 650px;
  }

  #experience {
    position: relative;
    top: 15px;
  }


}