html {
  padding: 0;
  color: rgb(50, 50, 50);
  background-color: rgb(218, 218, 218);
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

body {
  box-sizing: border-box;
  width: 850px;
  min-width: 400px;
  padding: 50px 100px 25px 100px;
  margin: auto;
  box-shadow: 0 0 15px gray;
  border-left: 1px solid rgb(160, 160, 160);
  border-right: 1px solid rgb(160, 160, 160);
  text-align: center;
  background-color: #fff;
}

header, #summary {
  margin-bottom: 40px;
}

h1 {
  font-size: 60px;
  font-family: Arial, sans-serif;
}

h3 {
  font-weight: bold;
  margin-right: 5px;
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

a:hover {
  text-decoration: underline;
  color: black;
}

p {
  margin-bottom: 10px;
}

dt {
  font-family: Arial, sans-serif;
  text-align: right;
  position: relative;
  right: 660px;
  bottom: 10px;
}

dd {
  position: relative;
  bottom: 26px;
}

ul {
  text-align: left;
  list-style: disc;
  position: relative;
  left: 16px;
}

ul, .row, #education .content {
  margin-bottom: 5px;
}

.container {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

#skills .row {
  justify-content: left;
}

.content {
  text-align: left;
}

.job-role {
  text-decoration: underline;
}

#github-icon {
  position: relative;
  top: 5px;
  padding-right: 2px;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 850px) {
  body {
    width: 100%;
    padding: 25px;
    border: none;
    box-shadow: none;
  }

  dt {
    position: static;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }

  dd {
    position: static;
  }
}

@media screen and (max-width: 475px) {
  .spacer {
    display: none;
  }

  #phone, #email, #github {
    display: block;
  }

  #phone {
    margin-top: 25px;
    margin-bottom: 7px;
  }
}